@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');

* {
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  
}

.content {
  padding: 30px;
  background: whitesmoke;
}

.content h1 {
    font-size: 50px;
    font-weight: 900;
    color: #A9261E;
  }

.content h3 {
  font-weight: 700;
}

.content button {
  background: #A9261E;
  border: none;
  margin-top: 30px;
  margin-bottom: 30px;
}

/* .content button:hover, button:active {
  background: green;
} */

