@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@300;400;700;900&display=swap');

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  
}

img {
  width: 90%;
  display: block;
  margin: 0 auto;
}

.content {
  padding: 30px;
  background: whitesmoke;
}

.content h1 {
    font-size: 40px;
    font-weight: 900;
    color: #A9261E;
  }

.content h3 {
  font-weight: 700;
}

.content button {
  background: #A9261E;
  border: none;
  margin-top: 30px;
  margin-bottom: 30px;
}
.site-name {
  font-family: 'Bebas Neue', cursive;
  font-size: 50px;
  letter-spacing: 2px;
  margin-left: 20px;
}
.tag-line {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 60px;
  color: #A9261E;
}

/* .content button:hover, button:active {
  background: green;
} */

